@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #B79891;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94716B, #B79891);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94716B, #B79891);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    font-family: 'Comfortaa', cursive;
    contain: content;
    display: flex;
    padding: 10em;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.82);
}

.Logo {
    margin-right: 45px;
    height: 450px;
    width: 450px;
    border-radius: 10px;
}

.titulo-logo {
    font-size: 56px;
    font-weight: bold;
    background-color: rgba(252, 176, 141, 0.497);
    padding: 7px;
    border-radius: 5px;
}

.slogan {
    font-size: 20px;
    font-style: italic;
}


.display-1{
    font-size: 56px;
    font-weight: bold;
    background-color: rgba(252, 176, 141, 0.497);
    margin: 15px 50px;
    padding: 7px 7px;
    border-radius: 5px;
    text-align: center;
}

.card{
    margin: auto;
    padding: 0%;
}

.row{
    margin: 50px;
    padding: 50px;
}

.aside_info .card .txt_info{
    padding: 15px;
}

.contacto{
    margin: auto;
    text-align: center;
}



#carouselExampleCaptions{
    max-width: 75%;
    margin: auto;
    padding: 0%;
}

p{
    font-size: 24px;
}


.carrou img{
    width: 80%;
    height: 500px;
}